body {
    margin: 0;
    background-color: #404040;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: Arial;
}

.body-container {
    width: 1120px;
}

.body-container header {
    display: flex;
    justify-content: center;
}

.body-container header img {
    height: 450px;
}

.content-body table {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content-body table tbody {
    border: 2px solid whitesmoke;
    padding: 20px;
}

.introduction {
    display: flex;
    flex-direction: row;
}

.introduction #headshot {
    width: 315px;
    height: 410px;
}

.introduction #intro-p {
    margin: auto;
    text-align: left;
    padding: 100px;
    font-size: 20px;
}

.education {
    display: flex;
    flex-direction: column;
}

.education .ed-column {
    display: flex;
    flex-direction: column;
}

.education .ed-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.education .ed-row #ed-block {
    margin: 0px 30px;
}

.ide-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ide-tools #ide {
    text-align: center;
}

.ide-tools #ide a img {
    width: 100px;
}

#align-left {
    text-align: left;
}

.heading {
    text-align: center;
    margin: 50px 0px;
}

a:hover {
    cursor: pointer;
}

a:link {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}

th {
    font-size: 25px;
    border: 1px solid whitesmoke;
}

td {
    padding: 10px;
}